.page-layout__viewport {
  padding-top: 0;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
.color-accent {
  color: #2abc73;
}

.dashboard-section {
  background-color: #f9f9f9;
  margin: 20px 0;
  padding: 10px 10px 40px 10px;
}